<div class="dashboard-container">
  <h3>Your Events</h3>
  <div class="dashbaord-events">

    <div class="row">
      <% @events.each do |event| %>
        <div class="col-md-4">
          <%= link_to event_path(event), class: 'panel__dashboard-event-link' do %>
            <div class="panel panel__dashboard-event">
              <div class="panel-body">
                <div class="event-poster">
                  <%= image_tag event.poster || 'http://placehold.it/200x200' %>
                </div>

                <hr/>

                <div class="event-name">
                  <%= event.title %>
                </div>
                <div class="event-date">
                  <i class="fa fa-calendar"></i>
                  <%= event.date %>
                </div>
                <div class="event-location">
                  <i class="fa fa-map-marker"></i>
                  <%= event.location %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>

      <div class="col-md-4">
        <%= link_to new_event_url do %>
          <div class="panel panel__dashboard-event panel__dashboard--event-new">
            <div class="panel-body">
              <div>
                <%= image_tag "create-icon.png", class: "icon-new" %>
              </div>
              <div class="info">
                <div style="color: #2DB94D;">Create A New Event</div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
