<div class="container tab-space">
  <div class="main-content-container">
    <div>

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">志愿者状态</a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">活动内容</a></li>
        <li role="presentation"><a href="#qr-code" aria-controls="qr-code" role="tab" data-toggle="tab">活动二维码</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="home">
          <table class="table">
            <thead>
              <tr>
                <th>
                 申请时间
                </th>
                <th>
                 志愿者姓名
                </th>
                <th>
                 申请状态
                </th>
                <th>
                 待审核
                </th>
                <th>
                 手机号码
                </th>
                <th>
                 邮箱
                </th>
              </tr>
            </thead>

            <tbody>
              <% @volunteer_applications.each do |volunteer_application| %>
                <tr>
                  <td>
                    <%= volunteer_application.created_at.strftime("%b %d %I:%M%P") %>
                  </td>
                  <td>
                    <%= volunteer_application.name %>
                  </td>
                  <td>
                    <%= volunteer_application.status.humanize %>
                  </td>
                  <td>
                    <% if volunteer_application.may_accept? %>
                      <%= link_to "Confirm", event_volunteer_application_confirm_path(event_id: @event.id, volunteer_application_id: volunteer_application.id), method: :put, class: 'btn btn-success' %>
                    <% end %>
                    <% if volunteer_application.may_decline? %>
                      <%= link_to "Decline", event_volunteer_application_decline_path(event_id: @event.id, volunteer_application_id: volunteer_application.id), method: :put, class: 'btn btn-danger' %>
                    <% end %>
                  </td>
                   <td>
                    <%= volunteer_application.phone_number %>
                  </td>
                   <td>
                    <%= volunteer_application.email.humanize %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <% if @volunteer_applications.empty? %>
            <div class="volunteer-default">
              <div class="modal fade" id="modal-event-show-qr-code">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h3 class="modal-title">在微信上分享下面的二维码吧</h3>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="event__qr-code">
                        <img src="/<%= @qr_code_file_path %>">
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <h4>你目前还没有志愿者哦</h4>
          <% end %>




        </div>

        <div role="tabpanel" class="tab-pane fade" id="profile">
          <h1><%= @event.title %></h1>
          <div class="row">
            <div class="col-md-6">
              <div class="event-poster">
                <%= image_tag @event.poster  %>
              </div>
            </div>

            <div class="col-md-6">
              <div class="event-basic">
                <p><span class="event-basic-label">活动时间</span>: <%= @event.date %></p>
                <p><span class="event-basic-label">活动地点</span>: <%= @event.location %></p>

                <!-- CSS needed in the event show page -->
                <p><span class="event-basic-label">活动种类</span>: <%= @event.category.capitalize %></p>
                <p><span class="event-basic-label">志愿者人数</span>: <%= @event.volunteer_number %></p>
                <p><span class="event-basic-label">组织者</span>: <%= @event.user.try(:name) %></p>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-md-12">
              <div class="event-details">
                <p><span class="event-basic-label">活动详细内容</span>: <%= @event.description %></p>
                <p><span class="event-basic-label">志愿者义务</span>: <%= @event.volunteer_duties %></p>
                <p><span class="event-basic-label">志愿者福利</span>: <%= @event.volunteer_perks %></p>
              </div>

              <div class="action-buttons">
                <%= link_to "更新", edit_event_path(@event), class: 'btn btn-default' %>
                <%= link_to "删除", event_path(@event), class: 'btn btn-danger', method: "delete" %>
              </div>
            </div>
          </div>

        </div>

        <div role="tabpanel" class="tab-pane fade in" id="qr-code">
          <div class="event__qr-code">
             <img src="/<%= @qr_code_file_path %>">
          </div>
        </div>
      </div>
    </div>

    <div class="text-center back-button">
      <%= link_to "返回个人页面", dashboard_index_path, class: 'btn btn-default' %>
    </div>
  </div>
</div>

<% content_for(:inline_javascript) do %>
  <script>
    $('#modal-event-show-qr-code').modal({});
  </script>
<% end %>
