<div class="homepage-bottom">
 <div class="homepage-content">
   <div class="row">
     <div class="col-md-4">
       <%= image_tag "templateicon.png", class: "icon" %>
       <h2> Template </h2>
       <p>Quickly design your events at</p>
       <p>the click of a button.</p>
     </div>
     <div class="col-md-4">
       <%= image_tag "customization.png", class: "icon" %>
       <h2> Customization </h2>
       <p>Pick the volunteers right for</p>
       <p>your event and who are right for you.</p>
     </div>
     <div class="col-md-4">
       <%= image_tag "Manage.png", class: "icon" %>
       <h2> Manage </h2>
       <p>Easily connect and start planning </p>
       <p>your event. Using this platform to </p>
       <p>piece it all together.</p>
     </div>
   </div>
 </div>
 <div class="SignUp" style="background-image: linear-gradient(-225deg, rgba(0, 168, 21, 0.6) 0%, rgba(0, 61, 2, 0.6) 50%), url('<%= image_path "together2.jpg" %>'); height: 130px;">
   <div class="signup-content">
     <h2>Sign Up Now & Start Creating Now!</h2>
     <%= link_to t(".sign_in", default: "Sign Up"), new_user_registration_path, class: "btn btn-default" %>
   </div>
 </div>
</div>
