<div class="banner-container">
  <div class="login-banner" style="background-image: url('<%= image_path "together2.jpg" %>');">
    <div class="banner-content">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-sm-offset-4">
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-inputs">
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                <%= f.input :email, label: false, required: false, autofocus: true, placeholder: "bob@gmail.com" %>
              </div>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-lock" aria-hidden="true"></i></span>
                <%= f.input :password, label: false, required: false, placeholder: "••••••" %>
              </div>
            </div>
            <div class="form-actions">
              <%= f.button :submit, "Log in", class: "btn btn-default btn-md", style:"color: #2DB94D; font-weight: bold; width: 40%; opacity: 0.9;" %>
            </div>
            <div class="registration-links">
              <%= render "devise/shared/links" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
